@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-header-text: #413e3e;
  --color-main-text: #413e3e;
  --color-background-header: #fffffe;
  --color-background-main: #fffffe;

  /* FONT */
  --font-family-headline: "Dancing Script", cursive;
  --font-family-text: "Roboto", sans-serif;

  /* BORDERS */
  --border-radius: 15px;
}

body {
  font-family: var(--font-family-text);
  background-color: var(--color-background-main);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
  color: var(--color-header-text);
}

header {
  background-color: var(--color-background-header);
  display: grid;
  grid-template-columns: 10rem 1fr;
  column-gap: 3rem;
  align-items: center;
  padding: 3rem;
}

.headerText {
  font-size: 2rem;
}

.titlePic {
  width: 10rem;
  height: 10rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
}

button {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}
