@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-header-text: #555454;
  --color-main-text: #555454;
  --color-background-header: #fffffe;
  --color-background-main: #fffffe;

  /* FONT */
  --font-family-headline: "Dancing Script", cursive;
  --font-family-text: "Roboto", sans-serif;

  /* BORDERS */
  --border-radius: 15px;
}

body {
  font-family: var(--font-family-text);
  background-color: var(--color-background-main);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
  color: var(--color-header-text);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
}
