button {
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10vw;
  background-color: #7c8183cb;
  font-size: 1rem;
  color: var(--color-header-text);
  height: 2rem;
  border-radius: 8px;
  display: inline-block;
  outline: 5px solid#7c8183cb;
  border: 1px solid #fff;
}
