.header {
  background-color: var(--color-background-header);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.headerText {
  font-size: 3rem;
}

.titlePic {
  width: 12rem;
  height: 12rem;
}
