.card {
  display: grid;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/4058743/pexels-photo-4058743.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  padding: 2rem;
  row-gap: 0;
}

.card > * {
  margin: 0;
}

.card > *:nth-child(odd) {
  align-self: end;
}

.card > *:nth-child(even) {
  align-self: start;
}

.quote {
  color: var(--color-main-text);
  background-color: #ffffff7a;
  padding: 0.5rem;
}

.author {
  text-align: right;
  background-color: #ffffff7a;
  padding: 0.5rem;
}
